@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --pr-neon: 74 163 255; /* Blue in RGB */
  }

  [data-theme='red'] {
    --pr-neon: 255 74 74; /* Red in RGB */
  }

  [data-theme='green'] {
    --pr-neon: 74 255 74; /* Green in RGB */
  }

  [data-theme='purple'] {
    --pr-neon: 140 0 191; /* Purple in RGB */
  }
}
